In [3]:
import pandas as pd

from torch.utils.data import DataLoader

from hypertrade.libs.tsfd.datasets.asset import OHLVCDataset
from hypertrade.libs.tsfd.sources.csv import CSVSource
from hypertrade.libs.tsfd.sources.formats.ohlvc import OHLVCFormat

/home/vscode/.local/lib/python3.10/site-packages/pandera/engines/pandas_engine.py:67: UserWarning: Using typeguard < 3. Generic types like List[TYPE], Dict[TYPE, TYPE] will only validate the first element in the collection.
  warnings.warn(

In [4]:
ohlvc_dataset = OHLVCDataset(
            data_source=CSVSource(
                filepath="/workspaces/HyperTrade/hypertrade/libs/tsfd/tests/data/ohlvc/sample.csv", format=OHLVCFormat
            ),
            name="ohlvc",
        )

/home/vscode/.cache/bazel/_bazel_vscode/7dbb5dae5ddc141eea214731ce40b550/execroot/__main__/bazel-out/k8-fastbuild/bin/hypertrade/libs/tsfd/examples/server.runfiles/__main__/hypertrade/libs/tsfd/sources/csv.py:109: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv(

In [11]:
dl = DataLoader(ohlvc_dataset, batch_size=64, num_workers=3, collate_fn=lambda x: x)
batch = next(iter(dl))

In [12]:
batch[0]

                     open    high     low   close        volume lastupdated
date       ticker
2018-09-04 AAPL     54.35   54.53   53.92   54.34  1.095605e+08  2024-11-08
           BA      330.43  334.99  328.18  334.93  2.699141e+06  2020-05-01
           GE       59.94   59.94   58.78   58.96  5.593843e+06  2024-12-29