In [6]:
import pandas as pd

df = pd.read_csv("sample.csv", parse_dates=["date"], index_col="date")

In [7]:
df

           ticker   open   high    low  close        volume lastupdated
date
2018-12-31     GE  35.37  35.84  34.57  35.61  1.354519e+07  2024-12-29
2018-12-28     GE  33.82  35.98  33.82  35.33  1.520291e+07  2024-12-29
2018-12-27     GE  33.77  34.20  32.69  34.20  1.497232e+07  2024-12-29
2018-12-26     GE  32.88  34.86  31.84  34.76  1.622982e+07  2024-12-29
2018-12-24     GE  33.21  33.54  32.46  32.55  8.751305e+06  2024-12-29
...           ...    ...    ...    ...    ...           ...         ...
2018-09-10   AAPL  52.57  52.79  51.51  51.95  1.580658e+08  2024-11-08
2018-09-07   AAPL  52.79  53.63  52.52  52.66  1.504792e+08  2024-11-08
2018-09-06   AAPL  53.83  54.10  52.66  53.08  1.371599e+08  2024-11-08
2018-09-05   AAPL  54.49  54.65  53.56  53.98  1.333318e+08  2024-11-08
2018-09-04   AAPL  54.35  54.53  53.92  54.34  1.095605e+08  2024-11-08

[246 rows x 7 columns]

In [8]:
import pytz

tz = pytz.timezone("America/New_York")

In [9]:
df.index = df.index.tz_localize(tz)

In [11]:
df.index = df.index.tz_convert(pytz.utc)

In [13]:
df.to_csv("sample.csv")

In [16]:
import pandera as pa
from pandera.engines import pandas_engine

ohlvc_schema = pa.DataFrameSchema(
    {
        "open": pa.Column(
            float,
            checks=pa.Check.greater_than_or_equal_to(0),
        ),
        "high": pa.Column(
            float,
            checks=pa.Check.greater_than_or_equal_to(0),
        ),
        "low": pa.Column(
            float,
            checks=pa.Check.greater_than_or_equal_to(0),
        ),
        "close": pa.Column(
            float,
            checks=pa.Check.greater_than_or_equal_to(0),
        ),
        "volume": pa.Column(
            float,
            checks=pa.Check.greater_than_or_equal_to(0),
        ),
    },
    index=pa.Index(
        pandas_engine.DateTime(
            to_datetime_kwargs={"infer_datetime_format": True},
            tz="UTC",
        ),
        name="date",
    ),
)

In [17]:
ohlvc_schema.validate(df)

,ticker,open,high,low,close,volume,lastupdated
date,,,,,,,
2018-12-31 05:00:00+00:00,GE,35.37,35.84,34.57,35.61,1.354519e+07,2024-12-29
2018-12-28 05:00:00+00:00,GE,33.82,35.98,33.82,35.33,1.520291e+07,2024-12-29
2018-12-27 05:00:00+00:00,GE,33.77,34.20,32.69,34.20,1.497232e+07,2024-12-29
2018-12-26 05:00:00+00:00,GE,32.88,34.86,31.84,34.76,1.622982e+07,2024-12-29
2018-12-24 05:00:00+00:00,GE,33.21,33.54,32.46,32.55,8.751305e+06,2024-12-29
...,...,...,...,...,...,...,...
2018-09-10 04:00:00+00:00,AAPL,52.57,52.79,51.51,51.95,1.580658e+08,2024-11-08
2018-09-07 04:00:00+00:00,AAPL,52.79,53.63,52.52,52.66,1.504792e+08,2024-11-08
2018-09-06 04:00:00+00:00,AAPL,53.83,54.10,52.66,53.08,1.371599e+08,2024-11-08
2018-09-05 04:00:00+00:00,AAPL,54.49,54.65,53.56,53.98,1.333318e+08,2024-11-08
2018-09-04 04:00:00+00:00,AAPL,54.35,54.53,53.92,54.34,1.095605e+08,2024-11-08